{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">
                    <h1 class="text-white">
                        Courses
                    </h1>
                    <div class="link-nav">
                        <span class="box">
                            <a href="index.html">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="courses.html">Courses</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->

    <!-- ================ Start Popular Course Area ================= -->
    <section>
        <h3 class="click">CBSE/ICSE/UP-BOARD</h3>

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'class10')" id="defaultOpen">Class 10</button>
            <button class="tablinks" onclick="openCity(event, 'Class 9')">Class 9</button>
            <button class="tablinks" onclick="openCity(event, 'Class 8')">Class 8</button>
            <button class="tablinks" onclick="openCity(event, 'Class 7')">Class 7</button>
            <button class="tablinks" onclick="openCity(event, 'Class 6')">Class 6</button>
            <button class="tablinks" onclick="openCity(event, 'Class 5')">Class 5</button>
            <button class="tablinks" onclick="openCity(event, 'Class 4')">Class 4</button>
            <button class="tablinks" onclick="openCity(event, 'Class 3')">Class 3</button>
            <button class="tablinks" onclick="openCity(event, 'Class 2')">Class 2</button>
        </div>

        <div id="class10" class="tabcontent">
            <h3 class="class_1"><u>Class 10</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>

        <div id="Class 9" class="tabcontent">
            <h3 class="class_1"><u>Class 9</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>

        <div id="Class 8" class="tabcontent">
            <h3 class="class_1"><u>Class 8</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        <div id="Class 7" class="tabcontent">
            <h3 class="class_1"><u>Class 7</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>
        <div id="Class 6" class="tabcontent">
            <h3 class="class_1"><u>Class 6</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>
        <div id="Class 5" class="tabcontent">
            <h3 class="class_1"><u>Class 5</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>
        <div id="Class 4" class="tabcontent">
            <h3 class="class_1"><u>Class 4</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>
        <div id="Class 3" class="tabcontent">
            <h3 class="class_1"><u>Class 3</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>
        <div id="Class 2" class="tabcontent">
            <h3 class="class_1"><u>Class 2</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a></button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a></button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a></button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a></button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a></button>
            </div>
        </div>

        </div>

    </section>
    <!-- ================ End Popular Course Area ================= -->
<div class="useless"></div>
    <!-- ================ Start Registration Area ================= -->

    <!-- ================ End Registration Area ================= -->

    <!-- ================ Start Feature Area ================= -->

    <!-- ================ End Feature Area ================= -->

   
    {% comment %} <script src="js/main.js"></script> {% endcomment %}
    <script src="{% static 'js/class.js' %}"></script>
{% endblock content %}