{% extends '_base.html' %}
{% load static %}
{% block content %}

    <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">
                    <h1 class="text-white">
                        Courses
                    </h1>
                    <div class="link-nav">
                        <span class="box">
                            <a href="index.html">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="courses.html">Courses</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->

    <!-- ================ Start Popular Course Area ================= -->
    <section>
        <h3 class="click">ALL STUDY AT ONE PLACE</h3>

        <div class="tab_new">
            <button class="tablinks" id="defaultOpen">Cbse Courses</button>
            <button class="tablinks">Goverment Exam </button>
            <button class="tablinks">Compitative Exam</button>
            <button class="tablinks">Sign Language</button>
            <button class="tablinks">GATE EXAM</button>
        </div>

        <div id="class10" class="tabcontent">
            <h3 class="class_1"><u>All Class</u></h3>
            <div class="math">
                <button class="btun"><a href="class10math.html"><img src="math.jpeg"></a>Class 12</button>
                <button class="btun"><a href="class10science.html"><img src="scince.jpeg"></a>Class 11</button>
                <button class="btun"><a href="sst.html"><img src="sst.jpeg"></a>Class 10</button>
                <button class="btun"><a href="english.html"><img src="english.jpeg"></a>Class 9</button>
                <button class="btun"><a href="english.html"> <img src="english.jpeg"></a>Class 8</button>
                <button class="btun"><a href="english.html"> <img src="english.jpeg"></a>SSC Exam</button>
                <button class="btun"><a href="hindi.html"><img src="hindi.jpeg"></a>GATE Exam</button>
            </div>
        </div>

        </div>

        
    </section>
    <!-- ================ End Popular Course Area ================= -->
<div class="useless"></div>
    <!-- ================ Start Registration Area ================= -->

    <!-- ================ End Registration Area ================= -->

    <!-- ================ Start Feature Area ================= -->

    <!-- ================ End Feature Area ================= -->

    <!-- ================ start footer Area ================= -->
        
    
   {% endblock content %}